* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f6f7fb;
  color: #222;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 22px;
  background: white;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.desktop-nav {
  display: flex;
  gap: 18px;
  align-items: center;
}

.desktop-nav a {
  text-decoration: none;
  color: #333;
  transition: 0.2s;
}

.desktop-nav a:hover {
  color: #007bff;
}

.primary-btn {
  padding: 8px 16px;
  border: none;
  background: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

.secondary-btn {
  padding: 7px 14px;
  border: 1px solid #007bff;
  color: #007bff;
  background: white;
  border-radius: 6px;
  cursor: pointer;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.cards {
  padding: 40px 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 280px;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  font-size: 15px;
}

.menu-btn {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
}

/* SIDEBAR MOBILE */

.sidebar {
  position: fixed;
  top: 0;
  left: -260px;
  width: 260px;
  height: 100vh;
  background: #fff;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  transition: 0.3s ease;
  border-right: 1px solid #ddd;
}

/* When opened */
.sidebar.open {
  left: 0;
}


.close-btn {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 22px;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .desktop-nav {
    display: none;
  }
  .menu-btn {
    display: block;
  }
}
